body{
    background-image: url("/resources/static/img/pattern/pattern-home.jpg");
    background-repeat: repeat;
}

h1{
    color: darkorange;
    background-color: white;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    font-family: "Trebuchet MS";
}
.form{
    width: 40%;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: antiquewhite;
}